<html>
    <head>
        <title>To-Do lists</title>
    </head>
    <body>
        <h1>To-Do lists</h1>

        <form method="post" action="/">
            {% csrf_token %}
        <input id="id_new_item" name="item_text" placeholder="Enter a to-do item" type="text">
        <input id="id_submit_button" type="submit" value="Add item">
        </form>
        <table id="id_list_table">
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ forloop.counter }}: {{ item }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
